.menu-background {
    background-color: #222;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
	border: 1px solid transparent;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0 !important;
	padding-left: 1rem;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

nav {
    display: block;
}

.cbp-hrmenu {
	width: 100%;
	margin-top: 0em;
	/* border-bottom: 4px solid #47a3da; */
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	/* width: 90%; */
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-hrmenu > ul > li {
	display: inline-block;
}

.cbp-hrmenu > ul > li > a {
	font-weight: 700;
	padding: 1em 1.2em;
	color: #e0d8e0;
	display: inline-block;
	background-color: transparent;
	line-height: 20px;
	text-decoration: none;
}

.cbp-hrmenu > ul > li > a:hover {
	color: #fff;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #333;
	background: #F4F6F7;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: #F4F6F7;
	width: 100%;
	left: 0;
	z-index: 1000;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background-clip: padding-box;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.cbp-hropen .cbp-hrsub {
	display: block !important;
	padding-bottom: 2em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float: left;
	padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
}

.cbp-hrsub h4 {
	color: #428bca;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 18px;
}

.caret-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

b, strong {
    font-weight: 700;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #222;
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}


@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}