.content {
    position: relative;
    background: #fff;
    min-height: 510px;
    padding-top: 5px;
    margin: 0 25px 0 25px;
    z-index: 100;
}

div {
    display: block;
}

.bodyComponent {
    margin-bottom: 100px;
}

.archived {
    vertical-align: top;
    color: gray;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

